<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/css/checkout.css">
    <title>ECommerce - Billing</title>

</head>
<body>
    <div id="title">
        <a href="{{url_for('home')}}">
        <img id="logo" src= "{{ url_for('static', filename='images/buy.png') }}" />
        </a>
    
        <div class="dropdown">
            <div class="dropdown-content">
                <a href="{{url_for('home')}}">Home</a>
                <a href="{{url_for('bills')}}">Your bills</a>
            </div>
    </div>
    <div class="container">
        <!-- <h1>Billing Information</h1> -->
        <table>
            <tr>
                <th>Account</th>
                <th>Cost</th>
                <th>Tax</th>
                <th>Final Amount</th>
                <th>Pay Now</th>
            </tr>
            <tr>
                <td>{{ account }}</td>
                <td>{{ costs[0] }}</td>
                <td>{{ costs[1] }}</td>
                <td>{{ costs[2] }}</td>
                <td>
                  <form method="POST">
                    <input type="submit" value="Pay Now">
                  </form>
                </td>
            </tr>
        </table>
    </div>

    </div>
    </div>
    </div>
</body>
</html>
