<!DOCTYPE HTML>
<html>
<head>
<title>Product Description</title>
</head>
<body>

<div id="title">
	<a href="/">
	<img id="logo" src= "{{ url_for('static', filename='images/logo.png') }}" />
	</a>

	<div class="dropdown">
		<div class="dropdown-content">
			<a href="{{url_for('home')}}">Home</a>
			<a href="{{url_for('bills')}}">Your bills</a>
		</div>
</div>

<div id="search">
	<h3>Search</h3	>	
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>
</div>
	
<div id="display">
	<div id="productName">
		<h1>{{data[1]}}</h1>
	</div>

	<div id="productDescription">
		<h2>Details</h2>
		<table id="descriptionTable">
			<tr>
				<td>Name</td>
				<td>{{data[1]}}</td>
			</tr>
			<tr>
				<td>Price</td>
				<td>${{data[2]}}</td>
			</tr>
			<tr>
				<td>Stock</td>
				<td>{{data[4]}}</td>
			</tr>
		</table>
		<h2>Description</h2>
		<p>{{data[3]}}</p>
	</div>
	<div id="addToCart">
		<form method="POST">
			<input type="hidden" name="product_id" value="{{data[0]}}">
			<input type="number" name="quantity" value="1" min="1" max="{{data[4]}}">
			<input type="submit" value="Add to Cart">
	</div>
</div>
</body>
</html>